$phone: 18.75em; //300px;
$phone-1: 400px; //400px;
$phone-2: 500px; //500px;

$tablet: 37.5em; //600px;
$tablet-1: 700px; //700px;
$tablet-2: 800px; //800px; 
 
$desktop: 64em; //1024px;
$desktop-1: 64em; //1024px;
$desktop-2: 64em; //1024px;


$black-color:#000000;
$gray-color:#797979;
$gray-alpha-color:#F7F7F7;
$green-alpha-color:#ACD9B2;
$green-hover-color:#72ED82;
$green-hover2-color:#81A385;
$blue-hover-color:#839DF7;
$white-color:#ffffff;
$menu-color:#C7C7C7;
$bar-mobil-height:4rem;
$font1: 'Quicksand', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$box-shadow1: 0px 2px 4px rgba(0, 0, 0, 0.046805);
$box-shadow2:0px 0px 5px 0px rgba(128, 128, 128, 0.741);


$var:1rem;