.text-title {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	/* identical to box height */

	color: #ffffff;
}
.yoga-image {
}
.text-pagraph-yoga {
}
.btn-signin {
}
