.img-circle{
    margin: auto;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    padding: 1rem;
}